@import "antd/dist/antd.css";

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  height: inherit;
}

.App {
  text-align: center;
}
.App .join-btn {
  display: block;
  margin: 20px auto;
}

.MuiButton-contained.Mui-disabled {
  color: rgb(255 255 255) !important;
  box-shadow: none;
  background-color: rgb(31 9 9 / 51%) !important;
}

.grid-sharing {
  height: 95%;
  display: flex;
  flex-direction: row-reverse;
}
.grid-normal {
  height: 95%;
}

.grid-video-sharing {
  width: 270px !important;
  height: 100%;
  display: block !important;
  overflow: overlay;
}

.grid-video-normal {
  height: 100%;
  width: 100%;
}
